/* General Styling */

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
p {
  color: #fff;
}
input:focus {
  outline: none;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utillities Classes */

/* Navbar */

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: flex-start;
  margin-left: 0.5rem;
}

.navbar__logo img {
  width: 40px;
  transition: all 0.15s ease;
  position: relative;
}

.navbar__logo img:hover {
  opacity: 0.7;
}

.navbar__logo:hover > .navbar__menu {
  display: block;
}

.navbar__menu {
  width: 400px;
  height: 400px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  display: none;
  z-index: 99;
}

.navbar__menu-row {
  display: flex;
  color: #000;
  justify-content: space-evenly;
padding: 0 .3rem;
}

.navbar__menu-row:nth-child(even) {
  border-bottom: 1px dotted #ddd;
}

.navbar__menu-row div{
  width: 50%;
  padding: .5rem;
  cursor: pointer;
}


.navbar__menu-row div:hover{
 background: rgb(255, 71, 66);
 color: #FFF;
}
/* Set Button Positioning */
.navbar__new-button {
  font-size: 0.3rem;
  background: rgb(227, 56, 56);
  border-radius: 2px;
  padding: 0.1rem 0.2rem;
  color: white;
  position: relative;
  top: -10px;
  left: -2px;
  overflow: hidden;
}

/* Fix that the first is the only one who doesn't get double REM */
.navbar > div {
  margin: 1rem;
}

/* Check if this is not affecting the wrtong thinigs. Sich as children of div's  */
.navbar__menu-items ul li:hover {
  opacity: 0.7;
}

.navbar__searchbox {
  background: #fff;
  border-radius: 4px;
  border: 1px #ddd solid;
  display: flex;
  align-items: center;
  height: 2.5rem;
  color: #000;
}

.navbar__searchbox i {
  margin: 0 0.5rem;
  color: #444;
}

.navbar__searchbox input {
  line-height: 40px;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  height: 100%;
  color: #000;
  border: none;
}

.navbar__searchbox input:active {
}

.navbar__menu-items ul {
  display: flex;
}

.navbar__menu-items ul li {
  margin: 0 0.5rem;
}
.navbar__menu-items ul li a {
  font-size: 1rem;
  font-weight: bold;
}

/* Hero */
.hero {
  background: url("hero-bg.jpg") no-repeat center center/cover;
  height: 50vh;
  position: relative;
  margin-bottom: 2rem;
}

.hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.hero__container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Add Transparent overlay on the bg */

.hero__headline {
  margin: 0 3rem;
  width: 40%;
  z-index: 2;
}

.hero__headline h1 {
  font-size: 2.75rem;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 2px 1px 1px;
}

.hero__headline p {
  font-size: 1.5rem;
  text-shadow: rgba(0, 0, 0, 0.25) 2px 1px 1px;
  margin-bottom: 1rem;
}

.hero__headline p:hover {
  opacity: 0.6;
}

.hero__headline h1:hover {
  opacity: 0.6;
}

.hero_avatars{
  display:flex;
  flex-wrap: nowrap;
  position: relative;
}
.hero__avatars img{
  width: 40px;
  border-radius: 50%;;
  border: 2px #FFF solid;
}

.hero__avatars img{
display: inline-block;
position: relative;
margin-right:-10px;
}



.hero__modal {
  align-self: flex-end;
  background: #fff;
  width: 350px;
  padding: 2rem;
  border-radius: 4px;
  border: #ddd 1px solid;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
}

.hero__modal-thumbnail {
  border-radius: 10px;
  background: url("thumb.jpg") no-repeat center center/cover;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hero__modal-thumbnail:hover {
  opacity: 0.9;
}

.hero__modal-thumbnail-btn {
  color: white;
}

.hero__modal-email-input input {
  line-height: 2rem;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: black;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}

.hero__signup-btn {
  background: rgb(255, 71, 66);
  text-align: center;
  height: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Section: Logo container (As Seen In) */

.logo-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  z-index: 4;
  margin-bottom: 2rem;
}

.logo-container p {
  color: #444;
  font-size: 0.7rem;
}

.hero__logo img {
  width: 75px;
  filter: grayscale(100%);
  opacity: 0.5;
  z-index: 12;
  margin: 0 0.5rem;
}

/* De Wave moet zo in de hero class zitten dat de positionering direct van de bodem werkt. Daarvoor moet waarschijlijjk de hero klas een relative zijn. DE svg daar in zitten en dan een een absolute meegeven.  */
/* Er moet een minimal height voor de header zijn */
.hero__svg-wave svg {
  position: absolute;
  bottom: -50px;
  opacity: 100;
}

.hero__svg-wave {
  z-index: 1;
}

/* Main Container */

.main-container {
  width: 70vw;
  margin: auto;
}

/* Filter Bar */
.cards__filter-bar {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 0 0.5rem;
}

.cards__filter-bar-left,
.cards__filter-bar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.--btn {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.--btn-primary {
  color: #fff;
  background: rgb(255, 71, 66);
  border: 1px rgb(227, 56, 56) solid;
}

.cards__add-filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__add-filter-btn p {
  color: #000;
  margin-right: 0.6rem;
}

.cards__category-btn {
  display: flex;
  align-items: stretch;
  padding: 0;
}

.cards__category-btn p {
  color: #000;
  padding: 0.6rem 0.5rem;
}

.cards__category-btn-arrow {
  border-left: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

/* (Country) Cards */
.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.cards__card {
  width: calc(25% - 1rem);
  height: 250px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 2px 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  margin: 0.5rem;
  cursor: pointer;
}

/* Card Top Part */
.cards__card-top {
  display: flex;
  justify-content: space-between;
}

.cards__core-metric i {
  margin-right: 0.4rem;
}

.cards__core-metric {
  display: flex;
  align-items: center;
}

.cards__core-metric-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards__small-metric-text {
  font-size: 0.4rem;
}

/* Card Middle Titles */
.cards__card-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards__card-city-text {
  font-size: 1.2rem;
}

.cards__card-country-text {
  font-size: 0.7rem;
}

.cards__card-number {
  border-bottom: 2px solid white;
  padding: 0 0.25rem;
}

/* Card Bottom Titles */
.cards__card-bottom {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.cards__card-bottom-left{

  display: flex;
  align-items: center;
}

.cards__card-bottom-left > * {
  margin: 0 .25rem;
}

.cards__card-weather-icon {
  font-size: 1.5rem;
}

.cards__card-price-text{
 font-size: 1rem;
}

/* City Modifiers */

.--prague {
  background: url("img/prague.jpg") no-repeat center center/cover;
}
